.main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id": "5031"}
        つねもとグループ
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member つねもと
    =link_to "/groups/5031/edit" do
      .main-header__edit-btn Edit
  .posts
    .post{"data-post_id": "12085"}
      .post__upper-info
        %p.post__upper-info__talker つねもと
        %p.post__upper-info__date 2019/11/12(Tue) 13:28:48
      %p.post__text あああああ
    .post{"data-post_id": "12109"}
      .post__upper-info
        %p.post__upper-info__talker つねもと
        %p.post__upper-info__date 2019/11/12(Tue) 15:12:15
      %p.post__text いいいいい
  .form
    %form#new_post.new_post{"accept-charset": "UTF-8", action: "/groups/5031/posts", enctype: "multipart/form-data", method: "post"}
      %input{name: "utf8", type: "hidden", value: "✓"}/
      %input{name: "authenticity_token", type: "hidden", value: "Szme+bubBenkFSWr2NnJwBj9ty8dXxoOxdofUo7jgMX+O0hpaTDRkjo3Wd+XxfQfr1re0VmyEWoNATU22eJW6g=="}/
      .input-box
        %input#post_content.input-box__text{name: "post[content]", placeholder: "type a post", type: "text"}/
        %label.input-box__image{for: "post_image"}
          %i.fa.fa-image
          %input#post_image.input-box__image__file{name: "post[image]", type: "file"}/
      %input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/

