.side
  .header
    .header__box
      %p.header__box__user-name
        = current_user.name
      %ul.header__box__menu
        %li.header__box__menu__new-group
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.header__box__menu__edit-user
          =link_to "edit_user_path(current_user)" do
            %i.fa.fa-cog

            
  .groups
    =link_to "/groups/5031/posts" do
      .group
        %p.group__group-name つねもとグループ
        %p.group__latest-post まだメッセージがありません
