.main
  .main-header
    グループ名
    .member-list
      メンバー

.edit
  Edit

.main-center
  .main-center1
    ユーザー名
  .main-center2
    = Time.current 
  .main-center3
    メッセ〜寺


.main-bottom
  a
.main-bottom1
  a
.main-send
  Send
.message-area
  =label_tag ''
  =text_area_tag ''