.post
  .upper-post
    .upper-post__user-name
      = post.user.name
    .upper-post__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-post
    - if post.content.present?
      %p.lower-post__content
        = post.content
    = image_tag post.image.url, class: 'lower-post__image' if post.image.present?