.side
  .side-header
    .side-header__box
      %p.side-header__box__user-name つねもと
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "/groups/new" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          =link_to "/users/2326/edit" do
            %i.fa.fa-cog
  .groups
    =link_to "/groups/5031/messages" do
      .group
        %p.group__group-name つねもとグループ
        %p.group__latest-message まだメッセージがありません
