.side
  .side-header
    userのname
    .side-header-right
      =link_to "#", class: "contents__btn" do
        = fa_icon 'edit'
    
      =link_to "#", class: "contents__btn" do
        = fa_icon 'cog'

.side-bottom
  .side-bottom1
    ユーザー名
  .side-bottom2
    メッセ〜じ
  .side-bottom3
    ユーザー名
  .side-bottom4
    メッっっセ〜字
